<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">

<listeners>
		<listener class-name = "com.becognizant.utilities.ExtentReportManager"/>
</listeners>

  <test thread-count="5" name="Test">
	 
    <classes>
    	
      <!-- <class name="com.becognizant.testcases.TC002_OneCognizant"/>
      <class name="com.becognizant.testcases.TC001_BeCognizant"/>-->
      <class name="com.becognizant.testcases.TC003_GSDPage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->